
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6tgrbk');
  src:  url('fonts/icomoon.eot?6tgrbk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6tgrbk') format('truetype'),
    url('fonts/icomoon.woff?6tgrbk') format('woff'),
    url('fonts/icomoon.svg?6tgrbk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PingFangSC'; 
  src: url('./PingFang/苹方黑体-纤细-简.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'PingFangSC'; 
  src: url('./PingFang/苹方黑体-准-简.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PingFangSC'; 
  src: url('./PingFang/苹方黑体-中黑-简.ttf');
  font-weight: 700;
  font-style: normal;
}

.iconfont {
  font-family:"icomoon" !important;
  font-size:0.48rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cmrc-saoyisao:before { content: "\e900"; }

.cmrc-search:before { content: "\e60d"; }

.cmrc-bussiness:before { content: "\e903"; }

.cmrc-user:before { content: "\e904"; }

.cmrc-home:before { content: "\e905"; }